@font-face {
    font-family: 'MegaPunch';
    src: url(/Fonts/megapunch/Megapunch-Italic.ttf);
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
    color: white;
}

body, html {
    padding: 0px;
    margin: 0px;
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}

.megapunch-font {
    font-family: 'MegaPunch';
    font-size: 154px;
    font-weight: 10;
    width: 100%;
    margin: 0px;
}

.title-font {
    font-family: 'MegaPunch';
    font-size: 72px;
    font-weight: 100;
    width: 100%;
    margin: 0px;
}

.red-gradient {
    font-size: 72px;
    background: -webkit-linear-gradient(#ff0000, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 940px) {
    .megapunch-font {
        font-family: 'MegaPunch';
        font-size: 100px;
        font-weight: 100;
        width: 65%;
    }
}

.blue-font {
    color: blue;
}

