@font-face {
    font-family: 'MegaPunch';
    src: url(../../public/Megapunch-Italic.ttf);
}

html {
    margin: 50px;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}

.megapunch-font {
    font-family: 'MegaPunch';
    font-size: 100px;
    font-weight: 100;
    width: 100%;
    margin: 0px;
}

.normal-font {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.normal-font:hover {
    
}

.red-gradient {
    font-size: 72px;
    background: -webkit-linear-gradient(#de2222, #850505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1000px) {
    .megapunch-font {
        font-family: 'MegaPunch';
        font-size: 100px;
        font-weight: 100;
        width: 65%;
    }
}
