.centered-table th, .centered-table td {
    text-align: center;
}

.leaderboard-title {
    color: yellow;
    font-family: 'MegaPunch';
    padding: 20px;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-table th, .centered-table td {
    text-align: center;
}

.centered-table th {
    border-bottom: 1px solid white;
}

.centered-table tbody tr:first-child td {
    border-top: 2px solid white;
}

.centered-table {
    border-collapse: collapse;
}

.centered-table th:first-child {
    border-right: 1px solid black;
}

.centered-table {
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 15px;
    border: 3px solid white;
}

.centered-table th:first-child,
.centered-table td:first-child {
    border-right: 2px solid white;
}

.centered-table th:first-child,
.centered-table td:first-child {
    width: 100px;
}

.centered-table th:nth-child(2),
.centered-table td:nth-child(2) {
    width: 60px;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    transform: scale(1.5);
}

.centered-table {
    margin-top: -20px; ;
}

.centered-table {
    background-color: inherit;
}

.centered-table th, .centered-table td {
    color: white;
}

.italic-text {
    font-style: italic;
}

.small-font {
    font-size: 0.8em;
}

.large-font {
    font-size: 3em;
    font-weight: bold;
}

.leaderboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .ring {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    scale: 0.9;
} */

.centered-table tr {
    height: 55px; 
}

.centered-table th.blue-font, .centered-table td.blue-font {
    color: blue !important;
  }