.left-movie {
    position: absolute;
    top: 40vh;
    left: 33vw;
    width: 180px;
}

.right-movie {
    top: 45vh;
    position: absolute;
    left: 55vw;
    width: 180px;
}

.left-glove {
    top: 40vh;
    position: absolute;
    left: 38vw;
    width: 120px;
    height: 300px;
}

.right-glove {
    top: 45vh;
    position: absolute;
    left: 60vw;
    width: 120px;
    height: 300px;
}

.movie-poster {
    animation: idle 1s linear infinite;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

@keyframes idle {
  0% {
      transform: translate(10px, 0);
  }
  12.5% {
      transform: translate(7.07px, -7.07px);
  }
  25% {
      transform: translate(0, -10px);
  }
  37.5% {
      transform: translate(-7.07px, -7.07px);
  }
  50% {
      transform: translate(-10px, 0);
  }
  62.5% {
      transform: translate(-7.07px, -7.07px);
  }
  75% {
      transform: translate(0, -10px);
  }
  87.5% {
      transform: translate(7.07px, -7.07px);
  }
  100% {
      transform: translate(10px, 0);
  }
}

.glove {
  animation: idle 1s 0.05s linear infinite;
  pointer-events: none;
}

@keyframes idle {
  0% {
      transform: translate(10px, 0);
  }
  12.5% {
      transform: translate(7.07px, -7.07px);
  }
  25% {
      transform: translate(0, -10px);
  }
  37.5% {
      transform: translate(-7.07px, -7.07px);
  }
  50% {
      transform: translate(-10px, 0);
  }
  62.5% {
      transform: translate(-7.07px, -7.07px);
  }
  75% {
      transform: translate(0, -10px);
  }
  87.5% {
      transform: translate(7.07px, -7.07px);
  }
  100% {
      transform: translate(10px, 0);
  }
}

@keyframes slide-left {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes punch-left {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(280px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes punch-right {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-280px, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes fall-left {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes fall-right {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vh);
    }
}